<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login - EMR status tracker</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<!--link rel="icon" type="image/png" href="images/icons/favicon.ico"/-->
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/bootstrap.min' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/font-awesome.min' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/icon-font.min' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/animate' %>
<!--===============================================================================================-->	
  <%= stylesheet_link_tag 'login/hamburgers.min' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/animsition.min' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/select2.min' %>
<!--===============================================================================================-->	
  <%= stylesheet_link_tag 'login/daterangepicker' %>
<!--===============================================================================================-->
  <%= stylesheet_link_tag 'login/util' %>
  <%= stylesheet_link_tag 'login/main' %>
<!--===============================================================================================-->

<style>
#login {
  padding-top: 10px !important;
}

#gender {
  border-width: 0px;
  margin: 0px 10px 5px 0px;;
}

.logo {
  position: absolute;
  bottom: 15px;
  right: 10px;
  width: 150px;
}

.wrap-login100 {
  background-image: url('/assets/login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.login100-form {
  background-color: #fff;
}
</style>

</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
        <%= form_tag('/sign_up', multipart: true, class: "login100-form validate-form", id: 'login') do %>
					<span class="login100-form-title p-b-43">
						Login to continue
					</span>
					
					
					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Enter first name">
						<input class="input100" type="text" name="first_name">
						<span class="focus-input100"></span>
						<span class="label-input100">First name</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Enter last name">
						<input class="input100" type="text" name="last_name">
						<span class="focus-input100"></span>
						<span class="label-input100">Last name</span>
					</div>
					
					<div class="wrap-input100 validate-input" data-validate = "Select gender">
						<select class="input100" type="text" name="gender" id="gender">
              <option>&nbsp;</option>
              <option value="F">Female</option>
              <option value="M">Male</option>
            </select>
						<span class="focus-input100"></span>
						<span class="label-input100">Gender</span>
					</div>
					
					
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Confirm password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm password</span>
					</div>

					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<!--div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div-->

						<!--div>
							<a href="#" class="txt1">
								Forgot Password?
							</a>
						</div>
					</div-->
			

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Sign up
						</button>
				    <br />	
          </div>
					
					<!--div class="text-center p-t-46 p-b-20">
						<span class="txt2">
							or sign up using
						</span>
					</div>

					<div class="login100-form-social flex-c-m">
						<a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
							<i class="fa fa-facebook-f" aria-hidden="true"></i>
						</a>

						<a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
					</div-->
				<%end%>
        <%= image_tag('logo.jpg', class: 'logo')%>
          
				<div class="login100-more" style="background-image: url('assets/login.jpg');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/jquery-3.2.1.min' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/animsition.min' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/popper' %>
  <%= javascript_include_tag 'login/bootstrap.min' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/select2.min' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/moment.min' %>
  <%= javascript_include_tag 'login/daterangepicker' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/countdowntime' %>
<!--===============================================================================================-->
  <%= javascript_include_tag 'login/main' %>

</body>
</html>
